@model MvcHouseofg.Models.PRODUCTOS

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Create", "Producto", null, FormMethod.Post,
                              new { enctype = "multipart/form-data" })) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>PRODUCTOS</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PROD_NOMBRE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PROD_NOMBRE)
            @Html.ValidationMessageFor(model => model.PROD_NOMBRE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PROD_PRECIO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PROD_PRECIO)
            @Html.ValidationMessageFor(model => model.PROD_PRECIO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PROD_DISPONIBLE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PROD_DISPONIBLE)
            @Html.ValidationMessageFor(model => model.PROD_DISPONIBLE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PROD_STOCK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PROD_STOCK)
            @Html.ValidationMessageFor(model => model.PROD_STOCK)
        </div>

       

        <div class="editor-label">
            @Html.LabelFor(model => model.PROD_DESCRIPCIONCORTA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PROD_DESCRIPCIONCORTA)
            @Html.ValidationMessageFor(model => model.PROD_DESCRIPCIONCORTA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PROD_DESCRIPCIONCOMPLETA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PROD_DESCRIPCIONCOMPLETA)
            @Html.ValidationMessageFor(model => model.PROD_DESCRIPCIONCOMPLETA)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.PROD_IMAGEN)
        </div>
        <div class="editor-field">
            <input id="RutaImagen" title="Subir imagen de persona" type="file" name="file" />
        </div>



        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
